* {
    margin-bottom: 0%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    box-sizing: border-box;
}

.html_body {
    width: 100vw;
    background-image: linear-gradient(to bottom, #7ED957, rgba(245, 222, 179, 0.527), #7ED957);
    font-family: 'Roboto', sans-serif;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}

.logo_nev_container {
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 20vh;
    display: flex;
}

.div_BCR {
    padding: 0%;
    width: 14.5vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-left: 3vw;
    height: 15.5vh;
}

.BCR_logo {
    width: 100%;
    height: 100%;
}

.nev {
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 9vh;
    width: 30vw;
    margin-left: 48vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
}

.nev_button_home_about_contact {
    height: 7vh;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 150%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nev_button_home_about_contact:hover {
    transition: 0.25s;
    color: #7ED957;
}

.a_nev_buttons {
    text-decoration: none;
}

.left_aside_content_container_right_aside {
    display: flex;
}

.left_aside {
    background-color: rgb(224, 224, 224);
    border: 1px solid black;
    margin-top: 0%;
    width: 10vw;
    height: 100vh;
}

.content_row_container {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    width: 80vw;
    height: 100vh;
}

.technology_a_row_continer {
    background-color: #4dff0000;
    border-radius: 7px;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 25%;
    width: 100%;
}

.technology_a_properties {
    background-size: contain;
    background-repeat: no-repeat;
    height: 75%;
    width: 13.9%;
    transition: 0.25s;
}

.technology_a_properties:hover {
    transition: 0.5s;
    height: 90%;
    width: 11.9%;
}

.technology_1_logo {
    background-image: url("./Media/HTML_CSS_JS.jfif");
}

.technology_2_logo {
    background-image: url("./Media/c.png");
}

.technology_3_logo {
    background-image: url("./Media/PY.png");
}

.technology_4_logo {
    background-image: url("./Media/vidoe editing.png");
}

.technology_5_logo {
    background-image: url("./Media/SEO.png");
}

.technology_6_logo {
    background-image: url("./Media/autocad.png");
}

.right_aside {
    background-color: rgb(224, 224, 224);
    border: 1px solid black;
    margin-top: 0%;
    width: 10vw;
    height: 100vh;
}

.p_email_number {
    margin-top: 5%;
    margin-left: 9.5%;
    margin-right: 9.5%;
    margin-bottom: 0%;
    background-image: repeating-linear-gradient(to bottom, rgba(245, 222, 179, 0.527), white);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 100%;
}